
<%= render 'layouts/form', task: @task %>

<% @tasks.each do |task| %>
<p><%= task.id %></p>
<p><%= task.name %></p>
<p><%= task.description %></p>
<p><%= task.created_at %></p>
<% task.tag_list.each do |tag| %>
    <%= tag %>
<% end %>
<% end %>